<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>
<main>
  <% if (products.length > 0){ %>
  <ul>
    <% products.forEach(p => { %>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= p.title %></h5>
        <H2>Quantity :<%= p.quantity %></H2>
        <form action="/cart-delete-item" method="POST">
          <input type="hidden" value="<%=p._id%>" name="productId" />
          <button class="btn danger">Delete</button>
        </form>
      </div>
    </div>
    <%}) %>
  </ul>
  <%}else{%>
  <h1>No Product in Cart Yet</h1>
  <% } %>
</main>

<%-include('../includes/end.ejs')%>
<h1>this is the cart PAGE</h1>
