<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/product-list.css">

    </head>
    <%- include('../includes/navigation.ejs')%>

        <body>

            <% if(prods.length> 0 ){%>
                <section class="product">
                    <%for(let product of prods) {%>
                        <img
                            src= <%=product.imageUrl %>
                        <h2>
                            <%= product.title %>
                        </h2>
                        <p class="price">
                            <%= product.price %> $
                        </p>
                        <p>                            
                            <%= product.description %>
                        </p>
                       
                        <a href="/products/<%=product.id%>">Details</a>
                        <form action="/shop-cart" method="post">
                            <button>Add to Cart</button>
                        </form>
                        <hr>
                        <% }%>
                </section>
                <%} else {%>
                    <h1>NO Product yet </h1>
                    <%}%>
                        <%-include('../includes/end.ejs')%>
        </body>

        </html>